.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.feedback-info {
  font-size: 20px;
}

.card-question {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.review-page, .thankyou-page {
  margin-top: 125px;
}
